<div id="table">
    <table class="table align-middle mb-0 table-striped, text-dark ">

        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">image</th>
                <th scope="col">price</th>
                <th scope="col">count</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td> <img [src]="item.image" height="80px" class="card-img-top">
                </td>
                <td>&#8377;{{item.price}}</td>
                <td>{{item.rating.count}}</td>
            </tr>

        </tbody>

    </table>

</div>